<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	<!-- Bootstrap Styles-->
    <link href="${rc.contextPath}/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="${rc.contextPath}/assets/css/font-awesome.css" rel="stylesheet" />
     <!-- Morris Chart Styles-->
    <link href="${rc.contextPath}/assets/css/custom-styles.css" rel="stylesheet" />
    <style type="text/css">
    	body {
			color: #000;
			font-size: 12px;
			font-family: "Helvetica Neue",Helvetica,STheiti,微软雅黑,宋体,Arial,Tahoma,sans-serif,serif;
		}
	</style>
</head>
<body style="background-color:#f3f3f3">
            <div id="page-inner" style="background-color:#f3f3f3">
			 <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                        </h1>
                    </div>
                </div> 
                 <!-- /. ROW  -->
               
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            	资源管理
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>资源</th>
                                            <th>操作值</th>
                                            <th>玩家名称</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>金钱</td>
                                            <td><input class="form-control" style="width:96px;height:29px;margin-left:-26px"/></td>
                                            <td><input class="form-control" style="width:96px;height:29px;margin-left:-20px"/></td>
                                            <td><a href="#" class="btn btn-success btn-sm">增加</a>&nbsp;<a href="#" class="btn btn-danger btn-sm">减少</a></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>木材</td>
                                            <td><input class="form-control" style="width:96px;height:29px;margin-left:-26px"/></td>
                                            <td><input class="form-control" style="width:96px;height:29px;margin-left:-20px"/></td>
                                            <td><a href="#" class="btn btn-success btn-sm">增加</a>&nbsp;<a href="#" class="btn btn-danger btn-sm">减少</a></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>钻石</td>
                                            <td><input class="form-control" style="width:96px;height:29px;margin-left:-26px"/></td>
                                            <td><input class="form-control" style="width:96px;height:29px;margin-left:-20px"/></td>
                                            <td><a href="#" class="btn btn-success btn-sm">增加</a>&nbsp;<a href="#" class="btn btn-danger btn-sm">减少</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="${rc.contextPath}/assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="${rc.contextPath}/assets/js/bootstrap.min.js"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="${rc.contextPath}/assets/js/dataTables/jquery.dataTables.js"></script>
         <!-- Custom Js -->
    <script src="${rc.contextPath}/assets/js/custom-scripts.js"></script>
    
   
</body>
</html>
