<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
	<!-- Bootstrap Styles-->
    <link href="${rc.contextPath}/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="${rc.contextPath}/assets/css/font-awesome.css" rel="stylesheet" />
    <style type="text/css">
    	body {
			color: #000;
			font-size: 12px;
			font-family: "Helvetica Neue",Helvetica,STheiti,微软雅黑,宋体,Arial,Tahoma,sans-serif,serif;
		}
	</style>
</head>
<body style="background-color:#f3f3f3">
			<input type="hidden" id="gameHost" value="${gameHost?default('')}"/>
			<!-- Modal -->
			<div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" style="top:250px;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
			    <div class="modal-dialog" style="width:300px;"> 
			        <div class="modal-content"> 
			            <div class="modal-body"><span style="" id="modalText">用户名或密码不能为空11 !</span></div> 
			            <div class="modal-footer"> 
			                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> 
			            </div> 
			        </div><!-- /.modal-content --> 
			    </div><!-- /.modal --> 
			</div>
            <div id="page-inner" style="background-color:#f3f3f3">
			 <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header"></h1>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                     <div class="panel panel-default">
                        <div class="panel-heading">
                            	<h2>资源管理</h2>
                        </div>
                        <div class="table-responsive" style="margin-top:20px">
	                        <table class="table table-hover">
		                        <div class="col-lg-6">
		                        	<form role="form">
		                        		<div class="form-group">
				                            <label>服务器</label>
				                            <select id="resHost" class="form-control">
				                            </select>
				                       </div>
		                        		<div class="form-group">
		                                   <label>玩家名称</label>
		                                   <input id="playName" class="form-control">
		                                   <p class="help-block">不允许有特殊字符且长度在2~15之间</p>
		                                </div>
				                        <div class="form-group">
				                            <label>资源列表</label>
				                            <select multiple="" id="resList" class="form-control"></select>
				                       </div>
				                       <div class="form-group">
				                            <label>资源类型</label>
				                            <select id="resType" class="form-control" style="width:30%">
					                                <option value="1">金币</option>
					                                <option value="2">木材</option>
					                                <option value="3">石头</option>
					                                <option value="4">钢材</option>
					                                <option value="5">钻石</option>
					                                <option value="6">EXP</option>
					                                <option value="7">英雄</option>
					                                <option value="8">物品</option>
					                                <option value="9">技能残片</option>
					                                <option value="10">被动技能</option>
					                        </select>
				                       </div>
				                       <div class="form-group">
				                       		<p>资源值: </p><input id="resValue" class="form-control" style="width:30%">
				                       </div>
				                       <div class="form-group">
				                       		<p>id: </p><input id="resId" class="form-control" style="width:30%">
				                       </div>
				                       <div style="margin-left:123px"><button id="add" type="button" class="btn btn-info btn-sm">添加</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="remove" type="button" class="btn btn-danger btn-sm">撤销</button></div>
		                               <hr/>
		                               <div style="margin-left:650px"><button id="submit" type="button" class="btn btn-success">确认并发送设置</button></div>
			                      	   <hr/>
			                       </form>
		                       </div>
	                       </table>
                       </div>
                    </div>
                    </div>
                </div>
            </div>
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="${rc.contextPath}/assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="${rc.contextPath}/assets/js/bootstrap.min.js"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="${rc.contextPath}/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="${rc.contextPath}/assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="${rc.contextPath}/js/game/resource.js"></script>
</body>
</html>
