<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>菜单首页</title>
	<!-- Bootstrap Styles-->
    <link href="${rc.contextPath}/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="${rc.contextPath}/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="${rc.contextPath}/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <style type="text/css">
    	body {
			color: #000;
			font-size: 12px;
			font-family: "Helvetica Neue",Helvetica,STheiti,微软雅黑,宋体,Arial,Tahoma,sans-serif,serif;
		}
	</style>
</head>
<body>
	<input type="hidden" id="gameHost" value="${gameHost?default('')}"/>
			<!-- Modal -->
	<div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" style="top:250px;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
		<div class="modal-dialog" style="width:300px;"> 
		   <div class="modal-content"> 
		       <div class="modal-body"><span style="" id="modalText">用户名或密码不能为空11 !</span></div> 
		       <div class="modal-footer"> 
		           <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> 
		       </div> 
		   </div><!-- /.modal-content --> 
		</div><!-- /.modal --> 
	</div>
	<div class="modal fade" id="myModalConfim" data-backdrop="static" tabindex="-1" style="top:300px;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
	    <div class="modal-dialog" style="width:300px;"> 
	        <div class="modal-content"> 
	            <div class="modal-body"><span style="" id="modalText">是否删除角色?</span></div> 
	            <div class="modal-footer"> 
	                <button type="button" id="confimSend" class="btn btn-success btn-sm">是</button>&nbsp;&nbsp;&nbsp;
	                <button type="button" id="cancelSend" class="btn btn-danger btn-sm" data-dismiss="modal">否</button> 
	            </div> 
	        </div><!-- /.modal-content --> 
	    </div><!-- /.modal --> 
	</div>
	<div class="modal fade" id="addModal" data-backdrop="static" tabindex="-1" style="top:250px;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
		<div class="modal-dialog" style="width:300px;"> 
		   <div class="modal-content"> 
		       <div class="modal-body">
		       		<div class="form-group">
                        <label>角色名称</label>
                        <input id="name" class="form-control">
                        <input id="id" type="hidden">
                    </div>
                    <div class="form-group">
                        <label>角色所有菜单<span style="color:red;"> 按住"ctrl"键选择多项</span></label>
                        <select id="menuList" multiple="multiple" class="form-control">
                            <option value="-1">无</option>
                            <#list menuList as pmenu>
                            	<option value="${pmenu.id}">${pmenu.name}</option>
                            </#list>
                        </select>
                    </div>
		       </div> 
		       <div class="modal-footer"> 
		       	   <button type="button" class="btn btn-info" id="confirmAdd">提交</button>
		           <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> 
		       </div> 
		   </div><!-- /.modal-content --> 
		</div><!-- /.modal --> 
	</div>
	<div id="page-inner" style="background-color:#f3f3f3">
		<div class="row">
		            <div class="col-md-12">
		                <h1 class="page-header"></h1>
		            </div>
		        </div> 
		        <div class="row">
		            <div class="col-md-12">
		                <!-- Advanced Tables -->
		             <div class="panel panel-default">
		                <div class="panel-heading">
		                    	<h2>角色管理</h2>
		                </div>
		                <div style="margin-top:10px;margin-left:10px;">
		                	<button type="button" class="btn btn-success btn-lg" id="addButton" data-dismiss="modal">新增角色</button>
		                </div> 
		                <div class="table-responsive" style="margin-top:20px">
		                	<table id="table_local" class="table table-bordered table-striped table-hover" cellspacing="0" width="100%">
					             <thead>
					                 <tr>
					                     <th>角色名称</th>
					                     <th>操作</th>
					                 </tr>
					             </thead>
					     
					             <tfoot>
					                 <tr>
					                     <th>角色名称</th>
					                     <th>操作</th>
					                 </tr>
					             </tfoot>
					         </table>

		               </div>
		            </div>
		            </div>
		        </div>
	   </div>
	<script src="${rc.contextPath}/assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="${rc.contextPath}/assets/js/bootstrap.min.js"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="${rc.contextPath}/assets/js/dataTables/jquery.dataTables.js"></script>
	<script src="${rc.contextPath}/assets/js/dataTables/dataTables.bootstrap.js"></script>
	<script src="${rc.contextPath}/js/system/role.js"></script>
</body>
</html>