<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>口袋英雄后台管理系统</title>
    <!-- Bootstrap Styles-->
    <link href="${rc.contextPath}/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="${rc.contextPath}/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="${rc.contextPath}/assets/css/custom-styles.css" rel="stylesheet" />
    <style type="text/css">
    	body {
			color: #000;
			font-size: 12px;
			font-family: "Helvetica Neue",Helvetica,STheiti,微软雅黑,宋体,Arial,Tahoma,sans-serif,serif;
		}
	</style>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"><i class="fa fa-comments"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>后台管理 </strong></a>
            </div>
			<!-- 用户登录信息 -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i><i>${username?default('')}</i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li class="divider"></li>
                        <li><a href="user/logout.html"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
       	<!-- 菜单 -->
        <nav class="navbar-default navbar-side" role="navigation">
           	<div class="sidebar-collapse">
           	 	<ul class="nav" id="main-menu">
           	 		<#list menuList as pmenu>
           	 			<li>
	                       <a href="#"><i class="fa fa-dashboard"></i> ${pmenu.name}<span class="fa arrow"></span></a>
	                       <#list pmenu.menuList as smenu>
	                       	<ul class="nav nav-second-level">
	                        	<li>
	                                <a name="subMenu" target-url="${smenu.path}" href="javascript:;">${smenu.name}</a>
	                            </li>
	                       	</ul>
	                       </#list>
	                     </li>
           	 		</#list>
            	</ul>
           	</div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" style="min-height:1002px">
            <iframe src="welcome.html" id="iframeContent" frameborder="0" scrolling="no" width="1600px" height="1200px"></iframe>
        </div>
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="${rc.contextPath}/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="${rc.contextPath}/assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="${rc.contextPath}/assets/js/jquery.metisMenu.js"></script>
    <!-- Custom Js -->
    <script src="${rc.contextPath}/assets/js/custom-scripts.js"></script>
    <script src="${rc.contextPath}/js/index.js"></script>
</body>
</html>